/* FADE-IN */  
@keyframes fadein { from {opacity:0;} to {opacity:1;}}
@-moz-keyframes fadein { /* Firefox */ from {opacity:0;} to {opacity:1;}}
@-webkit-keyframes fadein { /* Safari and Chrome */ from {opacity:0;} to {opacity:1;}}
@-o-keyframes fadein { /* Opera */ from {opacity:0;} to {opacity: 1;}}
.fadeload {
	-webkit-animation: fadein 1500ms forwards; 
	-webkit-animation-name: fadein 1500ms forwards; 
	-webkit-animation-duration: 1500ms forwards; 	
}

.fadeload-delay {
	-webkit-animation: fadein 900ms forwards; 
	-webkit-animation-name: fadein 900ms forwards; 
	-webkit-animation-duration: 900ms forwards; 	
	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
    opacity: 0; 
}

.fadeload-delay-up {
    opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadein, upload ease-in-out 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadein, upload ease-in-out 1;
	animation:fadein, upload ease-in-out 1;
    
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:400ms;
	-moz-animation-duration:400ms;
	animation-duration: 400ms;
    
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.fadeload-delay-up.two {
-webkit-animation-delay: 1.3s;
-moz-animation-delay:1.3s;
animation-delay: 1.3s;
}

/* SLIDE-DOWN */    
@-webkit-keyframes download { from {-webkit-transform:translate(0px, -40px)} to {-webkit-transform:translate(0px, 0px)}}
@-moz-keyframes download { from {-moz-transform:translate(0px, -40px)} to {-moz-transform:translate(0px, 0px)}}
@-ms-keyframes download { from {-ms-transform:translate(0px, -40px)} to {-ms-transform:translate(0px, 0px)}}
@-o-keyframes download { from {-o-transform:translate(0px, -40px)} to {-o-transform:translate(0px, 0px)}}
@keyframes download { from {transform:translate(0px, -40px)} to {transform:translate(0px, 0px)}}
.download {
	-webkit-animation: fadein, download 1000ms; 
	-webkit-animation-name: fadein, download; 
	-webkit-animation-duration: 1000ms;
}

@-webkit-keyframes menuload { from {-webkit-transform:translate(0px, 0px)} to {-webkit-transform:translate(25px, 0px)}}
@-moz-keyframes menuload { from {-moz-transform:translate(0px, 0px)} to {-moz-transform:translate(25px, 0px)}}
@-ms-keyframes menuload { from {-ms-transform:translate(0px, 0px)} to {-ms-transform:translate(25px, 0px)}}
@-o-keyframes menuload { from {-o-transform:translate(0px, 0px)} to {-o-transform:translate(25px, 0px)}}
@keyframes menuload { from {transform:translate(0px, 0px)} to {transform:translate(25px, 0px)}} 

/* SLIDE-UP */ 
@-webkit-keyframes upload { from {-webkit-transform:translate(0px, 40px)} to {-webkit-transform:translate(0px, 0px)}}
@-moz-keyframes upload { from {-moz-transform:translate(0px, 40px)} to {-moz-transform:translate(0px, 0px)}}
@-ms-keyframes upload { from {-ms-transform:translate(0px, 40px)} to {-ms-transform:translate(0px, 0px)}}
@-o-keyframes upload { from {-o-transform:translate(0px, 40px)} to {-o-transform:translate(0px, 0px)}}
@keyframes upload { from {transform:translate(0px, 40px)} to {transform:translate(0px, 0px)}}
.upload {
	-webkit-animation: fadein, upload 500ms; 
	-webkit-animation-name: fadein, upload 500ms; 
	-webkit-animation-duration: 500ms;
}

/* ZOOM */ 
@-webkit-keyframes zoom { from {-webkit-transform:scale(1.2,1.2)} to {-webkit-transform:scale(1,1)}}
@-moz-keyframes zoom { from {-moz-transform:scale(1.2,1.2)} to {-moz-transform:scale(1,1)}}
@-ms-keyframes zoom { from {-ms-transform:scale(1.2,1.2)} to {-ms-transform:scale(1,1)}}
@-o-keyframes zoom { from {-o-transform:scale(1.2,1.2)} to {-o-transform:scale(1,1)}}
@keyframes zoom { from {transform:scale(1.2,1.2)} to {transform:scale(1,1)}}
.zoomload {
	-webkit-animation: zoom 1500ms forwards; 
	-webkit-animation-name: zoom 1500ms forwards; 
	-webkit-animation-duration: 1500ms forwards; 	
}

/* LEFT LOAD */    
@-webkit-keyframes leftload { from {-webkit-transform:translate(-80px, 0px)} to {-webkit-transform:translate(0px, 0px)}}
@-moz-keyframes leftload { from {-moz-transform:translate(-80px, 0px)} to {-moz-transform:translate(0px, 0px)}}
@-ms-keyframes leftload { from {-ms-transform:translate(-80px, 0px)} to {-ms-transform:translate(0px, 0px)}}
@-o-keyframes leftload { from {-o-transform:translate(-80px, 0px)} to {-o-transform:translate(0px, 0px)}}
@keyframes leftload { from {transform:translate(-80px, 0px)} to {transform:translate(0px, 0px)}}
.leftload {
	-webkit-animation: leftload 1000ms backwards; 
	-webkit-animation-name: leftload 1000ms backwards; 
	-webkit-animation-duration: 1000ms backwards;
	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
}

/* RIGHT LOAD */    
@-webkit-keyframes rightload { from {-webkit-transform:translate(30px, 0px)} to {-webkit-transform:translate(0px, 0px)}}
@-moz-keyframes rightload { from {-moz-transform:translate(30px, 0px)} to {-moz-transform:translate(0px, 0px)}}
@-ms-keyframes rightload { from {-ms-transform:translate(30px, 0px)} to {-ms-transform:translate(0px, 0px)}}
@-o-keyframes rightload { from {-o-transform:translate(30px, 0px)} to {-o-transform:translate(0px, 0px)}}
@keyframes rightload { from {transform:translate(30px, 0px)} to {transform:translate(0px, 0px)}}
.rightload {
	-webkit-animation: fadein, rightload 1000ms; 
	-webkit-animation-name: fadein, rightload; 
	-webkit-animation-duration: 1000ms;
}

/* TOP LOAD */    
@-webkit-keyframes topload { from {-webkit-transform:translate(0px, 80px)} to {-webkit-transform:translate(0px, 0px)}}
@-moz-keyframes topload { from {-moz-transform:translate(0px, 80px)} to {-moz-transform:translate(0px, 0px)}}
@-ms-keyframes topload { from {-ms-transform:translate(0px, 80px)} to {-ms-transform:translate(0px, 0px)}}
@-o-keyframes topload { from {-o-transform:translate(0px, 80px)} to {-o-transform:translate(0px, 0px)}}
@keyframes topload { from {transform:translate(0px, 80px)} to {transform:translate(0px, 0px)}}
.topload {
	-webkit-animation: leftload 1000ms backwards; 
	-webkit-animation-name: leftload 1000ms backwards; 
	-webkit-animation-duration: 1000ms backwards;
	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
}


/* EASING */
.color-bar-transition {
	opacity: .6;
	transition: all .2s ease;
}

.color-bar-transition:hover {
	opacity: 1;
	border-bottom: 10px solid rgba(113, 116, 94, 0.1);
	padding-left: 15px;
}

.img img {
	float: right;
	opacity: .7;
	margin: 0 0px 0 0;
	transition: all .6s ease;
}
.img:hover img {
	float: right;
	margin: 0 10px 0 0;
	opacity: 1;
}

/* LOADER */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background-color: rgba(242, 255, 181, .3);
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
}