/* RESET
------------------------------------------------------------------------------------------------ */

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, form, fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, main, menu, nav, section, summary, time, mark, audio, video { background: transparent; font-size: 100%; vertical-align: baseline; border: 0; outline: 0; margin: 0; padding: 0; }

html { background: #F3F3F3; background-image: url('images/'); background-position: center top; background-size: 100% auto; background-repeat: no-repeat; font-family: 'Work Sans', Arial, Helvetica, sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; height: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; }
body { max-width: 100%; margin: 0 auto; padding: 0; }

article, aside, figure, figcaption, footer, header, main, nav, section { display: block; }
h1, h2, h3, h4, p, ul, ol, dl, pre, address, table, form, hr, figure, audio, video { margin-bottom: 1.5em; }

/* FADE-IN */  
@keyframes fadein { from {opacity:0;} to {opacity:1;}}
@-moz-keyframes fadein { /* Firefox */ from {opacity:0;} to {opacity:1;}}
@-webkit-keyframes fadein { /* Safari and Chrome */ from {opacity:0;} to {opacity:1;}}
@-o-keyframes fadein { /* Opera */ from {opacity:0;} to {opacity: 1;}}


.fadeload {
    opacity:0;
    opacity: 1 \9; /*just in case ie*/
	-webkit-animation: fadein .5s ease forwards; 
	-webkit-animation-name: fadein .5s ease forwards; 
	-webkit-animation-duration: .5s ease forwards; 
    -webkit-animation-delay: 500ms;
    -moz-animation-delay:500ms;
    animation-delay: 500ms;
}

.fadeload.two {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.fadeload.three {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.fadeload.four {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
}

.fadeload.five {
    -webkit-animation-delay: 2.25s;
    -moz-animation-delay: 2.25s;
    animation-delay: 2.25s;
}

.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}    


/* MEDIA
------------------------------------------------------------------------------------------------ */

h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 3.5em;
    line-height: 1.2em;
    font-weight: 900;
    margin: 0 0 0px 0;
}

h2 {
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    line-height: 1.3em;
    margin: 0 0 0px 0;
}

h3 {
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.3em;
    margin: 0 0 20px 0;
}

h4 {
    font-family: 'Overpass', sans-serif;
    font-size: 3.5em;
    line-height: 1.2em;
    font-weight: 900;
    margin: -20px 0 100px 0;
}

p {
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
    font-size: .85em;
    line-height: 1.6em;
    margin: 0px 0 0px 0;
    color: #727272;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    0% { transform: rotate(360deg); }
}

    
.nav {
    position: fixed;
    z-index: 9999;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: .85em;
    vertical-align: middle;
    color: #a2a2a2;
    top: 0px;
    width: 100%;
    height: 70px;
    padding: 25px 0 0 0;
    background-color: #000000;
    text-transform: uppercase;
}

.nav a {
    color: #a2a2a2;
    -o-transition:color .1s ease-in;
    -ms-transition:color .1s ease-in;
    -moz-transition:color .1s ease-in;
    -webkit-transition:color .1s ease-in;
    /* ...and now override with proper CSS property */
    transition:color .1s ease-in;
}

.nav a:hover {
    text-decoration: none;
    text-decoration-color: #0045ff;
    text-decoration-style: double;
    color: #ffffff;
}


a {
    margin: 0;
    color: #ffffff;
    text-decoration: none;
    -o-transition:color .5s ease-in;
    -ms-transition:color .5s ease-in;
    -moz-transition:color .5s ease-in;
    -webkit-transition:color .5s ease-in;
    /* ...and now override with proper CSS property */
    transition:color .5s ease-in;
}

a:hover {
    text-decoration: line-through;
    text-decoration-color: #0045ff;
    text-decoration-style: wavy;
    color: #4c4c4e;
}

img, object, embed { display: block; vertical-align: middle; max-width: 100%; width: auto; width: auto\9; /* IE Fix */ height: auto; border: 0; }


.content {
    position: relative;
    width: 78%;
    padding: 0px 0 0 0;
    margin: 0 auto;
    border-left: 0px #333333 solid;
    color: #000;
    text-align:left;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
}

.ten {
    display: inline-block;
    width: 10%;
}

.twenty {
    display: inline-block;
    width: 20%;
}

.thirty {
    display: inline-block;
    width: 32%;
}

.forty {
    display: inline-block;
    width: 40%;
}

.fifty {
    display: inline-block;
    width: 50%;
}

.sixty {
    display: inline-block;
    width: 60%;
}

.seventy {
    display: inline-block;
    width: 68%;
    margin: 0 0 40px 0; 
}

.eighty {
    display: inline-block;
    width: 80%;
}

.line {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #bcbcbc;
    margin: 70px 0 120px 0;
}

.header {
    display: inline-block;
    width: 100%;
    padding: 140px 0 140px 0;
    margin: 0 0 70px 0;
    background-color: #ED1C24;
    color: #fff;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.08);
}

.full {
    display: inline-block;
    width: 100%;
    padding: 100px 0 100px 0;
    margin: 0 0 70px 0;
    background-color: #d8d8d8;
    color: #fff;
}


#container {
    height: 694px;
    width: 370px;
    background-color: #F3F3F3;
    overflow: hidden;
    position: relative;
    float: right;
}

video {
    padding: 0;
    margin: 0;
    width: 380px;    
    left: -2px;
    position: absolute;
}


@media only screen and (max-width: 500px) {
    
h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 2.5em;
    line-height: 1.2em;
    margin-left: -3px;
    font-weight: 900;
}
    
.svg {
    opacity: .2;
    display: block;
    width: 33%;
    height: 80px;
    padding: 0 4% 0 4%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

}
